@model IEnumerable<NAIMS.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EFirstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ELastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ERole)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPhonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETarget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EComissionPerc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EFirstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ELastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ERole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPhonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ETarget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EComissionPerc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
